body {
    margin: 0px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content:center;
    text-align: right;
    color:black;
    
h2 {
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h3 {
    color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h4 {color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  

#background-video {
  position: absolute;   
  top: 20;
  left: 50;
  width: 400px;          
  height: 200px;         
  object-fit:cover;
  z-index: -1;          
} 


        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
